<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style/game.css">
    <title>Jogo do Mario</title>

</head>
<body>

        <div class="game-over">

            <div class="card">
                <div class="title">
                    <h1>GAME OVER</h1>
                </div>
                <div class="buttons">
                    <div class="btn1">
                        TENTAR NOVAMENTE
                </div>
                <div class="btn2">
                        SAIR
                </div>
                </div> 
            </div>
         
        </div>
    
        <div class="game">
            <img class="mario" src="/source/mario.gif" alt="">
            <img class="pipe" src="/source/tunel.png" alt="">
            <img class="clouds" src="/source/nuvens.png" alt="">
            <button>
                <span class="shadow"></span>
                <span class="edge"></span>
                <span class="front text">INICIAR</span>
            </button>
        </div>
    
    </div>  

   
   

    <script src="/js/game.js" defer></script>
    
</body>
</html>